
.hero {
    position: relative;
    overflow: hidden;
}
.page_header {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    color:#4cbfa0;
    font-size: 17px;
    margin: 0;
}

.page_header img {
    width: 100px;
}
.memo{
    margin-bottom: 0px;
}
.hero-inner {
   margin-top:  93px;
}
.hero-inner p{
    padding-top: 10px;
    padding-bottom: 25px;
}


@media (min-width:768px){
    .page_header {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        color:#4cbfa0;
        font-size: 17px;
        margin: 0;
    }
    .hero-inner {
        border-left: 10px solid #4cbfa0;
        border-top: 10px solid #4cbfa0;
        border-right: 10px solid #ccc;
        border-bottom: 10px solid #ccc;
        padding-bottom: 5px;
    }
    .notify{
        background-color: #0c9e77;
    }
    .notify h2{
        color: black;
        padding: 10px 15px;
        text-align: center;
    }
    .notify p{
        color: black;
        font-size: 20px;
    }
    .main-nav a:hover{
        color: white;
    }
    .main-nav a{
        text-align: center;
        padding: 10px 15px;
        color:black;
        font-size: 18px;
    }
    .main-nav li{
        display: inline;
        color: black; 
        text-decoration: none;
    }
    .main-nav{
        color: black;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .contact p{
        font-size: 35px;
        text-align: center;
    }
    .info{
        background-color: #4cbfa0;
        padding: 13px 10px;
        margin-bottom: 0px;
    }
    .about{
        margin-bottom: 0px;
        padding-bottom: 45px;
    }
    .about p{
        color: black;
        margin-right: 10px;
        margin-bottom: 30px;
        padding: 30px 20px;
        text-align: center;
        font-size: 20px;
    }
    .about a{
        background: #434746;
        color: white;
        text-align: center;
        border-radius: 10px;
        padding: 5px 8px;
        margin-bottom: 20px;
        font-size: 15px;
    }
    .hero-inner h1 {
        margin-top: 2px;
        font-size: 30px;
    }
    .hero-inner p {
        font-size: 20px;

    }
    .hero-inner{
        padding-bottom: 8px;
    }
    .info div{
        text-align: center;
        color: black;
        background: #0c9e77;
        padding: 13px 10px;
        margin-bottom: 0px;
        display: none;
    }
}

.main-nav a:hover{
    color: white;
}
.main-nav a{
    text-align: center;
    padding: 10px 15px;
    color:black;
    font-size: 16px;
}
.main-nav li{
    display: inline;
    color: black; 
    text-decoration: none;
}
.main-nav{
    color: black;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.info{
    background-color: #0c9e77;;
    padding: 13px 10px;
    margin-bottom: 0px;
}
.about a{
    background: #434746;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 13px;
}
.notify{
    background-color: #0c9e77;
}
.notify h2{
    color: black;
    padding: 10px 15px;
    text-align: center;
}
.contact p{
    font-size: 20px;
    text-align: center;
}
.hero h1{
    color:#4cbfa0;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 50px;
}

.hero-inner h1 {
    margin-top: 2px;
    margin-bottom: -7px;
    font-size: 18px;
}
.hero-inner p {
    font-size: 18px;
}
.hero p{
    padding: 10px;
    color:#4cbfa0;
}
.hero-pic {
    max-height: 800px;
    overflow: hidden;
}
.profile-pic{
    margin-top: 55px;
}
.sub-heading{
    text-transform: uppercase;
    padding-bottom: 45px;
    text-align: center;
}

.hero-inner a{
    color:#4cbfa0;
}
.icons{
    margin-top: -15px;
}
.icons li{
    display: inline;
    text-align: center;
    color: #4cbfa0;
    text-decoration: none;
}
.icons ul{
    margin-bottom: 45px;
    padding: 5px 20px;
    color: #4cbfa0; 
}
.icons a:hover{
    color: white;
}
.top-bar{
    background-color: #4cbfa0;
    margin-bottom: 0%;
    padding-top: 13px;
}
.main-nav{
    margin-top: 0px;
}
.main-nav a:hover{
    text-decoration: none;
}
.header{
    background-color: #0c9e77;
}
.title h2{
    color: black;
    padding: 10px 15px;
    text-align: center;
}


.assignment h2{
    color: black;
    padding: 10px 15px;
    text-align: center;
}

.plan{
    background-color: #48ad92;
    padding-top: 10px;
    padding-bottom: 35px;
}
.plan p{
    color: black;
    text-align: center;
    font-size: 20px;
}

.closing a:hover{
    color: white;
}
.closing li{
    display: inline;
    text-align: center;
    text-decoration: none;
}
.closing ul{
    margin-bottom: 0px;
    padding: 5px 20px;
    color:#4cbfa0;
}
.footer{
    background-color: #434746;
    padding: 24px 0;
    color:#4cbfa0;
}
.closing p{
    color:#4cbfa0;
}

.closing a {
    color: #4cbfa0;
}
.hero-inner {
    position: relative;
    width: 400px;
    height: 400px;
  }

.info div{
    text-align: center;
    color: black;
    background: #0c9e77;
    padding: 13px 10px;
    margin-bottom: 0px;
    display: none;
}